.older-container {
    background-size: cover;
    height: 50vw;
}

.example-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: auto;
    width: 60%;
  }

.search-card {
    width: 50%;
    margin-top: 300px;
}


h2 {
    color: white;
}


.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.search-form mat-form-field {
    flex: 1 1 45%; /* Adjust width of each form field */
    min-width: 150px;
    max-width: 100%;
}

