<h1 class="h1class">Create your account</h1>
<div class="container">
  <div class="form-container">
      <mat-card appearance="outlined" class="signup-card">
          <mat-card-content>
            
              <form class="signup-form">

                  
                  <mat-form-field class="full-width">
                      <mat-label>Your email *</mat-label>
                      <input matInput type="email" required>
                  </mat-form-field>

                  
                  <mat-form-field class="full-width">
                      <mat-label>Your password *</mat-label>
                      <input matInput type="password" minlength="8" required>
                      <mat-hint align="end">Minimum 8 characters</mat-hint>
                  </mat-form-field>

                  
                  <mat-form-field class="half-width">
                      <mat-label>First name</mat-label>
                      <input matInput required>
                  </mat-form-field>

                  
                  <mat-form-field class="half-width">
                      <mat-label>Last name</mat-label>
                      <input matInput required>
                  </mat-form-field>

                  
                  <mat-form-field class="full-width">
                      <mat-label>Mobile phone number *</mat-label>
                      <input matInput type="tel" required>
                  </mat-form-field>

                  
                  <mat-form-field class="full-width">
                      <mat-label>Address *</mat-label>
                      <input matInput required>
                  </mat-form-field>

                  
                  <div class="account-type">
                      <mat-radio-group aria-label="Select an option" class="full-width">
                          <mat-radio-button value="driver">Male</mat-radio-button>
                          <mat-radio-button value="passenger">Female</mat-radio-button>
                      </mat-radio-group>
                  </div>

                  
                  <mat-checkbox class="terms"> I accepts terms
                      <a></a> of use.
                  </mat-checkbox>

              </form>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button color="primary" (click)="performSearch()">
                Sign up!</button>
          </mat-card-actions>
      </mat-card>
  </div>
</div>
