.example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }

.search-card {
    width: 60%;
    margin: auto;
    margin-top: 100px;
}


h2 {
    color: white;
}

.example-full-width {
    width: 100%;
  }

  .search-form {
    display: flex;
    flex: 1 1 45%;
    gap: 40px;
  }

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  gap: 30px;
  padding: 20px;
  height: 100vh;
}
 
  table {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .mat-paginator {
    width: 100%;
  }
  
  th, td {
    text-align: center;
  }

