<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pizza Margherita</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/margherita.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Often misspelled as "margharita", is a typical Neapolitan pizza made from a special type of "san marcano"
        tomato, mozzarella, fresh basil, salt and extra virgin olive oil.
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Cena : 750 RSD | 1450 RSD| 2000 RSD </mat-list-item> </div>
      <mat-list-item role="listitem"> Velicina: Small | Medium | Large </mat-list-item>
      <mat-list-item role="listitem"> Kalorije: - 600 | 1080 | 1800 </mat-list-item>
      <mat-list-item role="listitem"> Tip-rerne - {{typesOfPizzaOvens.option1}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pizza Pepperoni</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/pepperoni.webp" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Pepperoni one of the more popular Pizzas on our menu, it is a variety of spicy salami made from cured pork and
        beef seasoned with paprika and chili peppers.
      </p>
    </mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"> Cena : 750 RSD | 1450 RSD| 2000 RSD </mat-list-item>
      <mat-list-item role="listitem"> Velicina: Small | Medium | Large </mat-list-item>
      <mat-list-item role="listitem"> Kalorije: - 600 | 1080 | 1800 </mat-list-item>
      <mat-list-item role="listitem"> Tip-rerne - {{typesOfPizzaOvens.option2}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pizza Funghi</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/funghi.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        also known as mushroom pizza, is a classic Italian dish that highlights the earthy flavors of mushrooms on a
        classic Cheese Pizza. Can also be topped with variety of vegetables such as bell peper, fresh tomatos and olives
      </p>
    </mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"> Cena : 750 RSD | 1450 RSD| 2000 RSD </mat-list-item>
      <mat-list-item role="listitem"> Velicina: Small | Medium | Large </mat-list-item>
      <mat-list-item role="listitem"> Kalorije: - 600 | 1080 | 1800 </mat-list-item>
      <mat-list-item role="listitem"> Tip-rerne - {{typesOfPizzaOvens.option3}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>


</div>

<div class="example-container">
  <mat-card appereance="outlined" class="search-card">
    <mat-card-content>
      <h2> Search your pizza </h2>
      <form class="search-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite Pizza</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Margerita">
        </mat-form-field>

    
        <mat-form-field class="example-full-width">
          <mat-label>Choose Size </mat-label>
          <input matInput placeholder="Size" value="Small">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div> 


