.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

p {
    color: white !important;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px
}

mat-card-title {
    color: white;
}

mat-list {
    color: white;
}

.example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.search-card {
    width: 30%;
    margin: auto;
    margin-top: 100px;
}


h2 {
    color: white;
}

.example-full-width {
    width: 100%;
  }

  .search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }