<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Batman 2</mat-card-title>
      <mat-card-subtitle>Most popular</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Batman.jfif">
    <mat-card-content>
      <p>
        The film sees Batman, in his second year fighting crime in Gotham City, 
        uncover corruption with ties to his own family while pursuing the Riddler (Dano), 
        a mysterious serial killer targeting the city's elite.
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : Batman 2  </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 01.10.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 1h 44m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option1}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>John Wick</mat-card-title>
      <mat-card-subtitle>Best in U.S</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/JohnWick.jfif" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        American action thriller film Keanu Reeves stars as John Wick, 
        a legendary hitman who comes out of retirement to seek revenge against the men who killed his dog, 
        a final gift from his recently deceased wife
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : John Wick  3 Barabellum </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 15.09.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 2h 39m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option2}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Justice of League</mat-card-title>
      <mat-card-subtitle>One of the good ones</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/League.jfif" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        also known as mushroom pizza, is a classic Italian dish that highlights the earthy flavors of mushrooms on a
        classic Cheese Pizza. Can also be topped with variety of vegetables such as bell peper, fresh tomatos and olives
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : Justice League  </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 27.08.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 3h 15m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option3}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Matrix 2</mat-card-title>
      <mat-card-subtitle>All time favourite</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/matrix.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        American action thriller film Keanu Reeves stars as John Wick, 
        a legendary hitman who comes out of retirement to seek revenge against the men who killed his dog, 
        a final gift from his recently deceased wife
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : John Wick  3 Barabellum </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 15.09.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 2h 39m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option2}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Insidious</mat-card-title>
      <mat-card-subtitle>One of the greatest horrors</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/insidious.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        American action thriller film Keanu Reeves stars as John Wick, 
        a legendary hitman who comes out of retirement to seek revenge against the men who killed his dog, 
        a final gift from his recently deceased wife
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : John Wick  3 Barabellum </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 15.09.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 2h 39m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option2}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Intersteller</mat-card-title>
      <mat-card-subtitle>One of the greatest</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/interstellar.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        American action thriller film Keanu Reeves stars as John Wick, 
        a legendary hitman who comes out of retirement to seek revenge against the men who killed his dog, 
        a final gift from his recently deceased wife
      </p>
    </mat-card-content>
    <mat-list role="list">
      <div> <mat-list-item role="listitem"> Naziv Filma : John Wick  3 Barabellum </mat-list-item> </div>
      <mat-list-item role="listitem"> Pocetak prikazivanja: 15.09.2024 </mat-list-item>
      <mat-list-item role="listitem"> Duzina Trajanja filma: 2h 39m </mat-list-item>
      <mat-list-item role="listitem"> Tip-Animacije - {{typesOfAnimation.option2}} </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  


</div>

<div class="example-container">
  <mat-card appereance="outlined" class="search-card">
    <mat-card-content>
      <h2> Search your Movie </h2>
      <form class="search-form">
        
        
        <mat-form-field>
          <mat-label>Select the name of Desired Movie: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{movieName[0]}} </mat-option>
            <mat-option value="2"> {{movieName[1]}} </mat-option>
            <mat-option value="3"> {{movieName[2]}} </mat-option>
          </mat-select>
        </mat-form-field>

    
        <mat-form-field>
          <mat-label>Select Movie type: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{movieType[0]}} </mat-option>
            <mat-option value="2"> {{movieType[1]}} </mat-option>
            <mat-option value="3"> {{movieType[2]}} </mat-option>
            <mat-option value="4"> {{movieType[3]}} </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label> Select the duration</mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> > {{movieDuration[0]}} Minutes</mat-option>
            <mat-option value="2"> > {{movieDuration[1]}} Minutes </mat-option>
            <mat-option value="3"> > {{movieDuration[2]}} Minutes </mat-option>
            <mat-option value="4"> > {{movieDuration[3]}} Minutes </mat-option>
            <mat-option value="5"> > {{movieDuration[4]}} Minutes </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label> Select the Movie director: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{movieDirector[0]}} </mat-option>
            <mat-option value="2"> {{movieDirector[1]}} </mat-option>
            <mat-option value="3"> {{movieDirector[2]}} </mat-option>
            <mat-option value="4"> {{movieDirector[3]}} </mat-option>
            <mat-option value="5"> {{movieDirector[4]}} </mat-option>
            <mat-option value="6"> {{movieDirector[5]}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Select the Movie actors: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{movieActors[0]}} </mat-option>
            <mat-option value="2"> {{movieActors[1]}} </mat-option>
            <mat-option value="3"> {{movieActors[2]}} </mat-option>
            <mat-option value="4"> {{movieActors[3]}}</mat-option>
            <mat-option value="5"> {{movieActors[4]}} </mat-option>
            <mat-option value="6"> {{movieActors[5]}} </mat-option>
            <mat-option value="7"> {{movieActors[6]}} </mat-option>
            <mat-option value="8"> {{movieActors[7]}} </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label> Select Price: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{moviePrice[0]}} RSD </mat-option>
            <mat-option value="2"> {{moviePrice[1]}} RSD </mat-option>
            <mat-option value="3"> {{moviePrice[2]}} RSD </mat-option>
            <mat-option value="4"> {{moviePrice[3]}} RSD </mat-option>
            <mat-option value="5"> {{moviePrice[4]}} RSD </mat-option>
            <mat-option value="6"> {{moviePrice[5]}} RSD </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Select Rating: </mat-label>
          <mat-select disableRipple>
            <mat-option value="1"> {{movieRating[0]}} </mat-option>
            <mat-option value="2"> {{movieRating[1]}} </mat-option>
            <mat-option value="3"> {{movieRating[2]}} </mat-option>
            <mat-option value="4"> {{movieRating[3]}} </mat-option>
            <mat-option value="5"> {{movieRating[4]}} </mat-option>
          </mat-select>
        </mat-form-field>
        


      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> Order now ! </button>
    </mat-card-actions>
  </mat-card>
</div> 





